@import '../../../base.scss';

.brief-task {

  &__header {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__footer {
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

}