@import '../../base.scss';

.login-screen {
  background: url('../../static/time-exchange-background.jpg');
  min-height: 100vh;
  min-width: 320px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__logo {
    display: flex;
    justify-content: center;

    img {
      height: 150px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__buttons_login {
    background: $blue;
  }

  &__buttons_register {
    background: $orange;
  }

  &__buttons_login:hover {
    background: lighten($blue, 10%);
  }

  &__buttons_register:hover {
    background: lighten($orange, 10%);
  }

  &__title-card {
    background-color: $blue;
  }

  &__info-card {
    background-color: lighten($blue, 10%);
  }
}